@import 'tailwindcss';

@plugin "daisyui" {
  themes:
    corporate --default,
    sunset --prefersdark;
}

@source "../../node_modules/rsc-daisyui/dist";

@theme inline {
  --font-montserrat: var(--font-montserrat);
  --font-playwrite: var(--font-playwrite);
  --color-royal-purple: #833ab4;
  --color-torch-red: #fd1d1d;
  --color-yellow-orange: #fcb045;
}

:root {
  --toastify-font-family: var(--font-montserrat);
  --toastify-color-info: var(--color-info);
  --toastify-color-success: var(--color-success);
  --toastify-color-warning: var(--color-warning);
  --toastify-color-error: var(--color-error);
  --toastify-text-color-info: var(--color-info-content);
  --toastify-text-color-success: var(--color-success-content);
  --toastify-text-color-warning: var(--color-warning-content);
  --toastify-text-color-error: var(--color-error-content);
}

@layer base {
  * {
    scrollbar-width: none !important;

    &::selection {
      @apply bg-primary text-primary-content;
    }
  }

  body {
    @apply font-montserrat;
  }

  img {
    @apply contrast-125 select-none;

    &[data-nimg='fill'] {
      @apply object-cover object-center;
    }
  }
}

@layer components {
  .Toastify__toast-container {
    @apply text-xs font-semibold;
  }
}

.Instagram__overlay {
  @apply bg-gradient-to-r from-royal-purple via-torch-red to-yellow-orange bg-size-[100%] bg-clip-text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.Navigation {
  @apply fixed top-0 left-1/2 z-10 max-w-screen-2xl -translate-x-1/2 rounded-b-xl p-1 text-neutral-content;

  .Navigation__changer {
    @apply flex cursor-pointer items-center justify-center gap-1;

    .Navigation__toggle {
      @apply border-primary bg-primary/50 text-primary-content checked:border-primary checked:bg-primary/50;
    }
  }
}
